<h1>Add a New Contact</h1>

<form action='/contacts' method='post'>
  <input type='text' name='first_name' placeholder='First name'>
  <input type='text' name='last_name' placeholder='Last name'>
  <input type='text' name='email' placeholder="email">
  <input type='text' name='note' placeholder="note">
  <input type='submit' value='New Contact'>
